# Ignore environment variables containing passwords/tokens
.env

# Ignore local browser session data and authentication states
fabi_auth_state.json

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.venv/


stores_config.json